.c-colaboradores{
	@include c-wrap;
	padding: $gutter;
	border: 1px solid violet;
	&-item{
		@include i-wrap;
		width: 100%;
		padding: $gutter;
		border: 1px solid teal;
		@include mq($medium){
			width: 50%;
		}
		@include mq($large){
			width: 25%;
		}
	}
}