.c-desafio{
	position: relative;
	width: 100%;
	//desde 320px de vw;
	height: 89rem;
	margin: 0 auto;
	background-color: color(bg-item);
	box-shadow: $shadow-flat;
	// border: 2px solid orange;
	@include mq($movil1){
		height: 83rem;
	}
	@include mq($movil2){
		height: 80rem;
	}
	@include mq($movil3){
		height: 79rem;
	}
	@include mq($movil4){
		height: 77rem;
	}
	@include mq($small){
		height: 75rem;
	}
	@include mq($medium){
		width: 90%;
		margin: 0 auto;
		height: 46rem;
	}
	@include mq($large){
		height: 39rem;
	}
	@include mq($m-large){
		height: 29rem;
	}
	&-banner{
		width: 100%;
		position: relative;
		top: 0;
		height: 15rem;
		background-size: cover;
		background-position: center;
		//background-image: url('../img/banner-desafio.jpg');
		background-image: img('banner-desafio.jpg');
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: color(gris-oscuro);
			opacity: .8;
		}
		&-title{
			position: relative;
			text-align: center;
			width: 100%;
			z-index: 1;
			color: color(bg-item);
			padding: $gutter;
			font-family: $primary-font;
			letter-spacing: 2px;
			font-size: 2rem;
			@include mq($medium){
				font-size: 2.2rem;
			}
		}
	}
}

.content-desafio{
	@include c-wrap;
	position: absolute;
	//tambien es necesario modificarlo si cambiamos la altura del c-desafio
   top: 4%;
	background-color: transparent;
	justify-content: space-around;
	padding: 0 $gutter;
	// border: 1px solid red;
	@include mq($movil1){
		top: 4.5%;
	}
	@include mq($movil2){
		top: 5%;
	}
	@include mq($medium){
		top: 10%;
	}
	@include mq($large){
		top: 11%;
	}
	@include mq($m-large){
		top: 14%;
	}
	&-item{
		@include i-wrap;
		position: relative;
		flex: 1 1 97%;
		padding: $gutter;
		margin-bottom: $gutter-item;
		font-family: $secondary-font;
		box-shadow: $shadow-flat;
		color: white;
		background-color: color(celeste);
		// border: 2px solid green;
		@include mq($medium){
			flex: 1 1 48%;
			margin-right: $gutter-item;
		}
		@include mq($m-large){
			flex: 1 1 30%;
		}
		&:hover{
			cursor: pointer;
			transform: scale(1.03);
		}
		& h2{
			color: color(footer);
			text-align: center;
			font-family: $primary-font;
			font-size: $sub-title;
			font-weight: $bold;
		}
		& h4{
			margin-top: .5rem;
			text-align: center;
			font-weight: bold;
			font-family: $secondary-font;
			font-size: 1.2rem;
		}
		& p{
			text-align: center;
			padding: $gutter;
		}
	}
}