.c-desafio{
	@include c-wrap;
	padding: $gutter;
	margin-top: $gutter;
	&-item{
		@include i-wrap;
		width: 100%;
		padding: $gutter;
		border: 1px solid black;
		@include mq($medium){
			width: 50%;
		}
		@include mq($large){
			width: 25%;
		}
	}
	&-item:hover{
		background-color: red;
	}
}

.title{
	text-align: center;
	width: 100%;
	margin-bottom: .5rem;
}

//Estilos para el Modal

.c-modal{
	position: fixed;
	display: flex;
	top: 0;
	z-index: z-index(capa10);
	width: 100%;
	height: 100vh;
	background-color: rgba(#000, .8);
	&-item{
		width: 90%;
		height: 90vh;
		margin: auto;
		background-color: azure;
	}
}