.c-programa{
	@include c-wrap;
	height: auto;
	background-color: rgba(245, 245, 245, 0.952);
	&-item{
		@include i-wrap;
		width: 100%;
		padding: $gutter;
		margin: .5rem;
		background-color: white;
		border: 1px solid black;
		box-shadow: 7px 7px 7px;
		@include mq($medium){
			width: 45%;
		}
	}
	&-title{
		letter-spacing: 2px;
		margin: $gutter;
		margin-left: 0;
	}
	&-text{
		color: color(text-dark);
		letter-spacing: 2px;
	}
	&-button{
		margin: $gutter;
		margin-right: 0;
		float: right;
	}
	&-img{
		width: 100%;
		height: auto;
		padding: $gutter;	
	}
}