.c-programa{
	@include c-wrap;
	height: auto;
	border: 1px solid red;
	&-item{
		@include i-wrap;
		width: 100%;
		padding: $gutter;
		@include mq($medium){
			width: 50%;
		}
	}
	&-title{
		letter-spacing: 2px;
		margin: $gutter;
		margin-left: 0;
	}
	&-text{
		color: color(text-dark);
		letter-spacing: 2px;
	}
	&-button{
		margin: $gutter;
		margin-right: 0;
		float: right;
	}
	&-img{
		width: 100%;
		height: auto;
		padding: $gutter;	
	}
}