.c-programa{
	@include c-wrap;
	height: auto;
	//padding: $gutter;
	margin: .5rem auto 0 0;
	// border: 1px solid red;
	&-item{
		@include i-wrap;
		width: 100%;
		padding: 0 $gutter;
		margin: 0;
		background-color: color(bg-item);
		box-shadow: $shadow-flat;
		border: 1px solid red;
		@include mq($medium){
			width: 45%;
		}
	}
	&-item:first-child{
		//margin-right: $gutter-item;
	}
	&-title{
		margin: $gutter;
		margin-left: 0;
		//font-family: $primary-font;
		letter-spacing: 2px;
	}
	&-text{
		color: color(text-dark);
		//font-family: $secondary-font;
		letter-spacing: 2px;
	}
	&-button{
		// margin: $gutter;
		margin-right: 0;
		float: right;
		color: color(primary);
		font-size: 2rem;
		transform: rotate(90deg);
	}
	&-img{
		width: 100%;
		height: auto;
		padding: $gutter;	
	}
}