.flexslider {
	margin: auto;
	width: 100%;
}

.flex-caption {
	width: 100%;
	padding: 2%;
	left: 0;
	bottom: 0;
	/* background: rgba(0,0,0,.5); */
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	/* font-size: 14px; */
	line-height: 18px;
	/* Agregar margin:0 a los estilos propuestos por el plugin */
	margin: 0;
	font-size: 20px;
	background-color: rgba(0,0,0,.5);	
}

#oculto { display: none; }