section#colaboradores.c-colaboradores
	h1.c-colaboradores-title Colaboradores
	section.c-colaboradores-item
		.c-colaboradores-icon.icon-aim
		h2.c-colaboradores-subtitle Colaborador 1
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	section.c-colaboradores-item
		.c-colaboradores-icon.icon-amazon
		h2.c-colaboradores-subtitle Colaborador 2
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	section.c-colaboradores-item
		.c-colaboradores-icon.icon-behance
		h2.c-colaboradores-subtitle Colaborador 3
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	section.c-colaboradores-item
		.c-colaboradores-icon.icon-meetup
		h2.c-colaboradores-subtitle Colaborador 4
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at iaculis mi, vitae aliquet lacus. 