section#desafio.c-desafio
	.c-desafio-banner
		h1.c-desafio-banner-title Desafios
	.content-desafio
		section#modal1.content-desafio-item
			.content-desafio-icon.icon-shop
			h2.content-desafio-title Desafio 1
			p Tipo de letra del titulos es "Poiret One" y del parrafo "Open Sans". 
		section#modal2.content-desafio-item
			.content-desafio-icon.icon-truck
			h2.content-desafio-title Desafio 2 
			p Tipo de letra del titulos es "Bitter" y del parrafo "Open Sans". 
		section#modal3.content-desafio-item
			.content-desafio-icon.icon-bulb
			h2.content-desafio-title Desafio 3
			p Tipo de letra del titulos es "Merriweather" y del parrafo "Montserrat".
		section#modal4.content-desafio-item
			.content-desafio-icon.icon-bar-chart
			h2.content-desafio-title Desafio 4
			p Tipo de letra del titulos es "Noto Serif" y del parrafo "Noto Sans".
	.content-desafio2
		h1.content-desafio2-title Desafio bla bla
		p.content-desafio2-text Tipo de letra del titulos es "Merriweather" y del parrafo "Open Sans".Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quam explicabo eos nam fugit officia dicta. Labore laboriosam blanditiis quae, reprehenderit dignissimos quia corporis delectus modi quam culpa ducimus quibusdam.