section#desafio.c-desafio
	.c-desafio-banner
		h1.c-desafio-banner-title Desafios
	.content-desafio
		section#modal1.content-desafio-item
			.content-desafio-img
			h2.content-desafio-title Desafios
			p Bejos. Ingeniería Aplicada
		section#modal2.content-desafio-item
			.content-desafio-img
			h2.content-desafio-title Desafios 
			p El Mercurio de Antofagasta.
		section#modal3.content-desafio-item
			h2.content-desafio-title Desafios
			p BUILDTEK.
		section#modal4.content-desafio-item
			h2.content-desafio-title Desafios
			p Ferrocarril Antofagasta - La Paz.
		section#modal5.content-desafio-item
			h2.content-desafio-title Desafios
			p Hidromec. Servicios integrales para la gran Minería.
		section#modal6.content-desafio-item
			h2.content-desafio-title Desafios
			p Aguas Antofagasta.