section#desafio.c-desafio
	.content-desafio.l-container-item
		h1.title.poiret Desafios
		section#modal1.content-desafio-item
			h2.content-desafio-title.poiret Desafio 1
			p.opensans Tipo de letra del titulos es "Poiret One" y del parrafo "Open Sans". Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis hendrerit tortor, non vehicula risus. Fusce ac varius lorem. In cursus finibus vehicula. Proin bibendum eleifend lectus ut ullamcorper.
		section#modal2.content-desafio-item
			h2.content-desafio-title.bitter Desafio 2
			p.opensans Tipo de letra del titulos es "Bitter" y del parrafo "Open Sans".Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis hendrerit tortor, non vehicula risus. Fusce ac varius lorem. In cursus finibus vehicula. Proin bibendum eleifend lectus ut ullamcorper. 
		section#modal3.content-desafio-item
			h2.content-desafio-title.merri Desafio 3
			p.montserrat Tipo de letra del titulos es "Merriweather" y del parrafo "Montserrat".Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis hendrerit tortor, non vehicula risus. Fusce ac varius lorem. In cursus finibus vehicula. Proin bibendum eleifend lectus ut ullamcorper. 
		section#modal4.content-desafio-item
			h2.content-desafio-title.notoserif Desafio 4
			p.notosans Tipo de letra del titulos es "Noto Serif" y del parrafo "Noto Sans".Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis hendrerit tortor, non vehicula risus. Fusce ac varius lorem. In cursus finibus vehicula. Proin bibendum eleifend lectus ut ullamcorper.
.content-desafio2
	h1.content-desafio2-title.merri Desafio bla bla
	p.content-desafio2-text.opensans Tipo de letra del titulos es "Merriweather" y del parrafo "Open Sans".Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quam explicabo eos nam fugit officia dicta. Labore laboriosam blanditiis quae, reprehenderit dignissimos quia corporis delectus modi quam culpa ducimus quibusdam.