section#desafio.c-desafio
	.c-desafio-banner
		h1.c-desafio-banner-title Desafíos
	.content-desafio
		section(data-anime="left")#modal1.content-desafio-item
			h2 Desafíos
			h4 Bejos
			p Empresa de Ingeniería aplicada en los rubros de energía, minería e industria en general
		section(data-anime="top")#modal2.content-desafio-item
			h2 Desafíos 
			h4 El Mercurio de Antofagasta
			p Periódico chileno, de carácter local, editado en Antofagasta
		section(data-anime="right")#modal3.content-desafio-item
			h2 Desafíos
			h4 BUILDTEK
			p Empresa constructora especialista construcción y montaje, EPC y mantenimiento industrial
		section(data-anime="left")#modal4.content-desafio-item
			h2 Desafíos
			h4 Ferrocarril Antofagasta - La Paz
			p Empresa de logística y transporte de productos derivados de la actividad minera
		section(data-anime="top")#modal5.content-desafio-item
			h2 Desafíos
			h4 Nova Mine
			p Empresa dedicada a la investigación y desarrollo de soluciones de ingeniería con alto nivel de innovación en el área de mantenimiento
		section(data-anime="right")#modal6.content-desafio-item
			h2 Desafíos
			h4 Aguas Antofagasta
			p Empresa encargada de la producción y distribución de agua potable, así como recolección, tratamiento y disposición de aguas servidas