section#empresas.c-empresas
	h1.c-empresas-title Empresas
	section.c-empresas-item
		h2.c-empresas-item-subtitle Bejos
		.c-empresas-item-img
		a(href="http://www.bejos.cl/", target="_blank") bejos.cl		 
	section.c-empresas-item
		h2.c-empresas-item-subtitle El Mercurio de Antofagasta
		.c-empresas-item-img
		a(href="http://www.mercurioantofagasta.cl", target="_blank") mercurioantofagasta.cl		
	section.c-empresas-item
		h2.c-empresas-item-subtitle BUILDTEK
		.c-empresas-item-img
		a(href="http://www.buildtek.cl/", target="_blank") buildtek.cl		 
	section.c-empresas-item
		h2.c-empresas-item-subtitle Ferrocarril Antofagasta - La Paz
		.c-empresas-item-img
		a(href="https://www.fcab.cl/", target="_blank") fcab.cl
	section.c-empresas-item
		h2.c-empresas-item-subtitle Hidromec
		.c-empresas-item-img
		a(href="https://www.hidromec.cl/", target="_blank") hidromec.cl
	section.c-empresas-item
		h2.c-empresas-item-subtitle Aguas Antofagasta
		.c-empresas-item-img
		a(href="http://www3.aguasantofagasta.cl/", target="_blank") aguasantofagasta.cl
		