section#empresas.c-empresas
	h1.c-empresas-title Empresas
	.contain-empresas
		section(data-anime="left").contain-empresas-item
			h2.contain-empresas-item-subtitle Bejos
			.contain-empresas-item-img
				img(src="/img/bejos.jpg", alt="Bejos")
			a(href="http://www.bejos.cl/", target="_blank") bejos.cl 
		section(data-anime="top").contain-empresas-item
			h2.contain-empresas-item-subtitle El Mercurio de Antofagasta
			.contain-empresas-item-img
				img(src="/img/mercurio.png", alt="El mercurio")
			a(href="http://www.mercurioantofagasta.cl", target="_blank") mercurioantofagasta.cl		
		section(data-anime="right").contain-empresas-item
			h2.contain-empresas-item-subtitle BUILDTEK
			.contain-empresas-item-img
				img(src="/img/buildtek.jpg", alt="Buildtek")
			a(href="http://www.buildtek.cl/", target="_blank") buildtek.cl		 
		section(data-anime="left").contain-empresas-item
			h2.contain-empresas-item-subtitle Ferrocarril Antofagasta - La Paz
			.contain-empresas-item-img
				img(src="/img/fcab.png", alt="Ferrocarriles")
			a(href="https://www.fcab.cl/", target="_blank") fcab.cl
		section(data-anime="top").contain-empresas-item
			h2.contain-empresas-item-subtitle Nova Mine
			.contain-empresas-item-img
				img(src="/img/novamine.png", alt="Novamine")
			a(href="http://www.nova-mine.cl/", target="_blank") nova-mine.cl
		section(data-anime="right").contain-empresas-item
			h2.contain-empresas-item-subtitle Aguas Antofagasta
			.contain-empresas-item-img
				img(src="/img/aguas.jpg", alt="Aguas Antofagasta")
			a(href="http://www3.aguasantofagasta.cl/", target="_blank") aguasantofagasta.cl
		