section#empresas.c-empresas
	h1.c-empresas-title Empresas
	section.c-empresas-item
		.c-empresas-icon.icon-aim
		h2.c-empresas-subtitle Colaborador 1
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	section.c-empresas-item
		.c-empresas-icon.icon-amazon
		h2.c-empresas-subtitle Colaborador 2
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	section.c-empresas-item
		.c-empresas-icon.icon-behance
		h2.c-empresas-subtitle Colaborador 3
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	section.c-empresas-item
		.c-empresas-icon.icon-meetup
		h2.c-empresas-subtitle Colaborador 4
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit.