footer.c-footer
	section.c-footer-item
		h2.c-footer-title Contacto
		p.icon-paper-airplane
			span E-mail: contacto@innovaantofagasta.cl
		p.icon-phone 
			span Teléfono: +569 12345678
	section.c-footer-item
		h2.c-footer-title Síguenos
		a(href="https://facebook.com", target="_blank").icon-facebook
		a(href="https://twitter.com", target="_blank").icon-twitter
		a(href="https://instagram.com", target="_blank").icon-social-instagram-outline
	section.copyright
		p Diseñado por 
			a(href="https://esferadigital.cl", target="_blank") Esfera Digital
	#subir.icon-angle-left
include ./scripts