footer.c-footer
	section.c-footer-item
		h2.c-footer-title Dirección
		p Av. Sin Nombre #1234
		p Comuna de Sin nombre
		p V Region
	section.c-footer-item
		h2.c-footer-title Contacto
		p E-mail: contacto@innovaantofagasta.cl
		p Teléfono: +569 12345678
	section.c-footer-item
		h2.c-footer-title Síguenos
		p Facebook
		p Twitter
		p Youtube
	section.copyright
		p Diseñado por Esfera Digital
include ./scripts