footer.c-footer
	section.c-footer-item
		h2.c-footer-title Contacto
		p.icon-paper-airplane
			span Email: contacto@quintilvalley.cl
	section.c-footer-item
		h2.c-footer-title Síguenos
		a(href="https://www.facebook.com/Quintil-Valley-376446842846566/?ref=br_rs", target="_blank").icon-facebook
		a(href="https://twitter.com/ValleyQuintil", target="_blank").icon-twitter
		a(href="https://instagram.com/quintil_valley", target="_blank").icon-social-instagram-outline
	section.copyright
		p Diseñado por 
			a(href="https://esferadigital.cl", target="_blank") Esfera Digital
	#up.icon-angle-left
include ./scripts