header#mainHeader.c-header.hide-header.slide-top
	h1.c-header-logo
		a(href="#inicio")
			img(src="img/logo.png", alt="Logo")
	#toggle-menu.c-header-menu.icon-menu
	nav#main-nav.c-nav
		ul
			li
				a(href="#inicio").link Inicio
			li
				a(href="#programa").link Programa
			li
				a(href="#desafio").link Desafio
			li
				a(href="#empresas").link Empresas
			li
				a.link.postula Postula
include ./slider