section#oculto.capa.c-programa
	article.c-programa-item
		h2.c-programa-title Oculto
		p.c-programa-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at iaculis mi, vitae aliquet lacus. Donec libero dui, malesuada ac massa eu, pellentesque vestibulum odio. Suspendisse potenti. Integer sed odio viverra, aliquam sem vel, porta elit. Aliquam cursus congue orci, a lobortis erat pulvinar eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vulputate ligula vel egestas molestie. Etiam interdum vitae nunc tristique dapibus. Donec semper ultrices tristique. Curabitur vel nisl eget lectus eleifend tincidunt nec a eros.Pellentesque quis diam euismod, vulputate turpis et, finibus leo. Aliquam convallis gravida molestie. Nunc nec mauris at nulla fringilla congue. Praesent venenatis est tortor, eget tempus nulla sodales non.
	.c-programa-item
		img(src="img/programa.jpg", alt="programa").c-programa-img