.c-patrocinadores
	div(data-anime="left").c-patrocinadores-item
		img(src="/img/gob.png", alt="Gobierno Regional")
	div(data-anime="top").c-patrocinadores-item
		img(src="/img/quintil.png", alt="Quintil")
	div(data-anime="right").c-patrocinadores-item
		img(src="/img/chrys.png", alt="Chrysalis")