.c-patrocinadores
	.c-patrocinadores-item
		img(src="/img/gob.png", alt="Gobierno Regional")
	.c-patrocinadores-item
		img(src="/img/quintil.png", alt="Quintil")
	.c-patrocinadores-item
		img(src="/img/chrys.png", alt="Chrysalis")