section#programa.c-programa
	article.c-programa-item
		h2.c-programa-title Programa
		p.c-programa-text El Desafío de Innovación abierta de Antofagasta, es una oportunidad única que invita a participar a todos aquellos que tengan ideas, soluciones o emprendimientos a ser parte de los procesos de innovación de destacadas empresas de la región.
		p.c-programa-text La innovación abierta es una estrategia vanguardista y dinámica mediante la cual las empresas se abren hacia la comunidad y sus redes para desarrollar la cooperación con organizaciones o profesionales externos y encontrar de manera más eficiente soluciones a las problemáticas que enfrentan en sus variadas dinámicas operacionales.
		p.c-programa-text Es sin duda, entonces un importante recurso que ayuda a potenciar la capacidad de innovación de las empresas Y entrega a los emprendedores o solucionadores el acceso directo con clientes que de otro modo sería muy difícil llegar.
		#oculto.c-programa-button.boton1 Saber más
	.c-programa-item
		.c-programa-img
			img(src="img/programa.jpg", alt="programa")
