script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
//- script(src="es5/onepagescroll.js")
//- script
//- 	include ../../../src/es6/dev/script.js
script(src="es5/index.js")
