#c-slider.c-slider
	#slider.slider
		section.slider-section.slider-img-1
			p.slider-text Desafio de Innovación Abierta
			.botones
				a(href="#").boton1 Programa
				a.postula.boton2 Postula
		section.slider-section.slider-img-2
			p.slider-text Importantes Empresas de la Región
			.botones
				a(href="#").boton1 Desafios
				a.postula.boton2 Postula
		section.slider-section.slider-img-3
			p.slider-text texto 3
			.botones
				a(href="#").boton1 empresas
				a.postula.boton2 Postula
	#btn-prev.btn-prev.icon-angle-left
	#btn-next.btn-next.icon-angle-right