.slider
	.slider-item
		img(src="./img/1.jpg", alt="Imagen 1").slider-item-img
		p.slider-item-text #imagen 1
		.buttons
			button.button Ir a 
			button.button Descargar
	.slider-item
		img(src="./img/2.jpg", alt="Imagen 2").slider-item-img
		p.slider-item-text #imagen 2
		.buttons
			button.button Ir a 
			button.button Descargar
	.slider-item
		img(src="./img/3.jpg", alt="Imagen 3").slider-item-img
		p.slider-item-text #imagen 3
		.buttons
			button.button Ir a 
			button.button Descargar
	a(href="#" class="anterior") &#10094
	a(href="#" class="siguiente") &#10095
	.puntos
		span(class="punto")
		span(class="punto")
		span(class="punto")
	.boton
		a(href="#")
			img(src="./img/pause.png", alt="pausa")