#c-slider.c-slider
	#slider.slider
		section.slider-section.slider-img-1
			p.slider-text texto 1
			.botones
				a(href="#").boton1 Saber más
				a(href="#").boton2 Postula
		section.slider-section.slider-img-2
			p.slider-text texto 2
			.botones
				a(href="#").boton1 Saber más
				a(href="#").boton2 Postula
		section.slider-section.slider-img-3
			p.slider-text texto 3
			.botones
				a(href="#").boton1 Saber más
				a(href="#").boton2 Postula
	#btn-prev.btn-prev.icon-angle-left
	#btn-next.btn-next.icon-angle-right