.flexslider
	ul.slides
		li
			img(src="./img/1.jpg", alt="imagen 1")
			p.flex-caption #imagen 1
		li
			img(src="./img/2.jpg", alt="imagen 2")
			p.flex-caption #imagen 2
		li
			img(src="./img/3.jpg", alt="imagen 3")
			p.flex-caption #imagen 3