#c-slider.c-slider
	#slider.slider
		section.slider-section.slider-img-1
			p.slider-text Capacítate y transfórmate en un solucionador postulando a nuestro programa de innovación abierta
			.botones
				a(href="#programa").boton1 Programa
				a.postula.boton2 Postula
		section.slider-section.slider-img-2
			p.slider-text Conoce las oportunidades que los desafíos de innovación abierta Antofagasta tienen para ti
			.botones
				a(href="#desafio").boton1 Desafios
				a.postula.boton2 Postula
		section.slider-section.slider-img-3
			p.slider-text Conéctate con destacadas empresas de la Región que están buscando soluciones a problemas
			.botones
				a(href="#empresas").boton1 empresas
				a.postula.boton2 Postula
	#btn-prev.btn-prev.icon-angle-left
	#btn-next.btn-next.icon-angle-right