.flexslider
	ul.slides
		li
			img(src="http://lorempixel.com/1280/600/business/", alt="imagen 1")
		li
			img(src="http://lorempixel.com/1280/600/business/", alt="imagen 2")
		li
			img(src="http://lorempixel.com/1280/600/business/", alt="imagen 3")