#c-slider.c-slider
	#slider.slider
		section.slider-section
			img(src="img/1.jpg", alt="").slider-img
		section.slider-section
			img(src="img/2.jpg", alt="").slider-img
		section.slider-section
			img(src="img/3.jpg", alt="").slider-img
	#btn-prev.btn-prev &#60;
	#btn-next.btn-next &#62;