//La propiedad line-height equivale a la altura del texto, poner 3 es igual que poner 3em.
// height, por otro lado, nos da la altura de la caja. 3 o 3em sera 3 veces la altura del texto)
//active es el instante en el que se hace click
.boton1{
	display: block;
	line-height: 3;
	background-color: color(cta);
	padding: 0 1.5rem;
	color: white;
	text-transform: uppercase;
	//para redondeado perfecto darle la mitad de la altura
	border-radius: 1.5rem;
	font-size: .8rem;
	&:hover{
		background-color: darken(color(cta),5);
	}
	&:active{
		transform: scale(.95);
	}
}

.boton2{
	display: block;
	line-height: 3;
	background-color: color(secondary);
	padding: 0 1.5rem;
	color: white;
	text-transform: uppercase;
	//para redondeado perfecto darle la mitad de la altura
	border-radius: 1.5rem;
	font-size: .8rem;
	&:hover{
		background-color: darken(color(secondary),5);
	}
	&:active{
		transform: scale(.95);
	}
}

.boton-realista{
	display: block;
	line-height: 3rem;
	height: 3rem;
	padding: 0 1.5rem;
	background-color: teal;
	color: white;
	text-transform: uppercase;
}
